<!--<div class="fakeTweet">
    <a class="mainLink" target="_blank" href="//twitter.com/rookoutlabs/status/1262140915193430016?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1262140915193430016&ref_url=http%3A%2F%2Flocalhost%3A4000%2F">
        <div class="mainWrapper">




        </div>
    </a>
    <a class="rookoutlabsLink" target="_blank" href="//twitter.com/rookoutlabs?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1262140915193430016&ref_url=http%3A%2F%2Flocalhost%3A4000%2F">
       <div class="rookoultabsContent">
           <img src="images/rokooltabs.png" alt="rookoutlabs">
           <p class="stronger">rookoutlabs</p>
           <p class="lighter">@rookoutlabs</p>
       </div>
    </a>

    <p class="paragraph">ts_ci makes it easy to publish and maintain high-standard
        <a target="_blank" href="//twitter.com/hashtag/NPM?src=hash&ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1262140915193430016&ref_url=http%3A%2F%2Flocalhost%3A4000%2F">
            #NPM
        </a>
        modules, by
        <a target="_blank" href="//twitter.com/GarroneJoseph?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1262140915193430016&ref_url=http%3A%2F%2Flocalhost%3A4000%2F">
            @GarroneJoseph
        </a>
        <img src="images/test.png" alt="clap">
        <a target="_blank" href="//twitter.com/hashtag/nodejs?src=hash&ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1262140915193430016&ref_url=http%3A%2F%2Flocalhost%3A4000%2F">
            #nodejs
        </a>
        <a target="_blank" href="//twitter.com/hashtag/javascript?src=hash&ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1262140915193430016&ref_url=http%3A%2F%2Flocalhost%3A4000%2F">
            #javascript
        </a>
        <a target="_blank" href="//twitter.com/hashtag/typescript?src=hash&ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1262140915193430016&ref_url=http%3A%2F%2Flocalhost%3A4000%2F">
            #typescript
        </a>
        <a target="_blank" href="//github.com/garronej/ts_ci">
            #programminghttps://github.com/garronej/ts_ci
        </a>

    </p>

    <a target="_blank" href="//twitter.com/rookoutlabs/status/1262140915193430016?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1262140915193430016&ref_url=http%3A%2F%2Flocalhost%3A4000%2F" class="twitterLink">
        <img src="images/twitterLogo2.png" alt="twitterLogo">
    </a>

    <div class="heartAndTime">
        <a class="heart" target="popup" href="//twitter.com/intent/like?tweet_id=1262140915193430016&original_referer=http%3A%2F%2Flocalhost%3A4000%2F&tw_i=1262140915193430016&tw_p=tweetembed">
            ♡ <span>4</span>
        </a>

        <a class="time" href="//twitter.com/rookoutlabs/status/1262140915193430016?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1262140915193430016&ref_url=http%3A%2F%2Flocalhost%3A4000%2F">
            <p>
                12:00 AM - May 18, 2020
            </p>
        </a>

        <a class="exclamationMark" href="#">
            <span>i</span>
        </a>
    </div>

    <div class="foot">
        <img class="profileIcon" src="images/profileIcon.png" alt="profile">        
        <a href="//twitter.com/rookoutlabs?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1262140915193430016&ref_url=http%3A%2F%2Flocalhost%3A4000%2F">
           <p>
               See rookoultab's other Tweets
           </p>

        </a>
        <img class="arrowIcon" src="images/arrow.png" alt="arrow">
    </div>


</div>

<div class="fakeTweet fakeTweet1">
    <a class="mainLink" target="_blank" href="https://twitter.com/rookoutlabs/status/1262140915193430016?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1262140915193430016&ref_url=http%3A%2F%2Flocalhost%3A4000%2F">
        <div class="mainWrapper">




        </div>
    </a>
    <a class="rookoutlabsLink" target="_blank" href="https://twitter.com/rookoutlabs?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1262140915193430016&ref_url=http%3A%2F%2Flocalhost%3A4000%2F">
       <div class="rookoultabsContent">
           <img src="images/drewPowers.jpg" alt="rookoutlabs">
           <p class="stronger">Drew Powers</p>
           <p class="lighter">@drwpow</p>
       </div>
    </a>

    <p class="paragraph">
        ts_ci: publish TypeScript modules to npm using GitHub Actions. 
        This seems like a project to watch for sure
        <a target="_blank" href="//github.com/garronej/ts_ci">
            github.com/garronej/ts_ci
        </a>

    </p>

    <a target="_blank" href="//twitter.com/rookoutlabs/status/1262140915193430016?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1262140915193430016&ref_url=http%3A%2F%2Flocalhost%3A4000%2F" class="twitterLink">
        <img src="images/twitterLogo2.png" alt="twitterLogo">
    </a>

    <div class="heartAndTime">
        <a class="heart" target="popup" href="//twitter.com/intent/like?tweet_id=1262140915193430016&original_referer=http%3A%2F%2Flocalhost%3A4000%2F&tw_i=1262140915193430016&tw_p=tweetembed">
            ♡ <span>3</span>
        </a>

        <a class="time" href="//twitter.com/rookoutlabs/status/1262140915193430016?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1262140915193430016&ref_url=http%3A%2F%2Flocalhost%3A4000%2F">
            <p>
                3:41 AM - May 25, 2020
            </p>
        </a>

        <a class="exclamationMark" href="#">
            <span>i</span>
        </a>
    </div>

    <div class="foot">
        <img class="profileIcon" src="images/profileIcon.png" alt="profile">        
        <a href="//twitter.com/rookoutlabs?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1262140915193430016&ref_url=http%3A%2F%2Flocalhost%3A4000%2F">
           <p>
                See Drew Powers's other Tweets
           </p>

        </a>
        <img class="arrowIcon" src="images/arrow.png" alt="arrow">
    </div>


</div>-->
<!--<a target="_blank" href="//twitter.com/rookoutlabs/status/1262140915193430016?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1262140915193430016&ref_url=http%3A%2F%2Flocalhost%3A4000%2F" class="fake-tweet">
    <div class="wrapper">

       <div class="rookoultabsContent">
           <img src="images/rokooltabs.png" alt="rookoutlabs">
           <p class="stronger">rookoutlabs</p>
           <p class="lighter">@rookoutlabs</p>
           <a target="_blank" href="//twitter.com/rookoutlabs/status/1262140915193430016?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1262140915193430016&ref_url=http%3A%2F%2Flocalhost%3A4000%2F" class="twitterLink">
               <img src="images/twitterLogo2.png" alt="twitterLogo">
           </a>
       </div>







    </div>


</a>-->